In [27]:
#variable to store a value 
x=100
print(x)
type(x)

100

int

In [28]:
#float inclueds integer an decimal point 
x=3.14
print(x)
type(x)

3.14

float

In [29]:
#assign values to variables also we can use arithematic operations
x=300*345
print(x)

103500

In [30]:
#string is any word collection of character 
x="karimulla"
print(x)
type(x)

karimulla

str

In [31]:
#list we can assign multiple values it is mutable
#for example:
x= [14,67,9]
#each value in list is index 0,1,2,3,4
print(x[0])
print(x[1])
print(x[2])
type(x)

14
67
9

list

In [32]:
# touples are immutable we can store the multiple values in a single variable list
x=(4,8,7)
print(x)
type(x)

(4, 8, 7)

tuple

In [33]:
#tuples are immutable lists are mutable 
#once we store the vale into varaiable and  we cant change the value on tuples

In [34]:
#fixed pointers various performances just assigned particular variables and used to the variable instance
X=(x,y,z)=(5,10,7)
print(X)
#Number of values should match each side
(x,y,z)=1,1,1
x=y=z=1
print(x,y,z)

(5, 10, 7)
1 1 1

In [35]:
#abc and _abc 
abc=100
print(abc)
_abc=100
print(_abc)
abc=500
_a984_=900
print(abc)
print(_a984_)

100
100
500
900

In [36]:
# variable start small letter a and also it start with capital letter A
a=1900
A=9008
print(a)
print(A)

1900
9008

In [37]:
#arthematic operations in python 
#addition (+)
x=20
y=56
result=x+y
print(result)

76

In [38]:
#subtraction(-)
x=30
y=20
result=x-y
print(x-y)
print(result)

10
10

In [40]:
#multiplication(*)
x=30
y=20
result=x*y
print(x*y)
print(result)

600
600

In [43]:
#division and along Double slash it contains floating points change into a integer 
x=20
y=30
print(x/y)
print(x//y)

0.6666666666666666
0

In [46]:
#(%)modulaes operator 
x=3
y=2
result=x%y
print(result)

1

In [ ]:
#we can also perform on string operation
#string basically collection of character 
#every charcter of string has a index